.App {
  font-family: "휴먼범석체";
}

@font-face {
  font-family: "휴먼범석체";
  src: url(/src/assets/fonts/휴먼범석체.otf);
}

.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
  animation: fall 10s linear;
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
